*,*::after,*::before{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: "Arvo", sans-serif;;
}
:root{
  --gary-color:#9fa3a7 ;
  --blue-color:#27b9c2;
  --yellow-color: #ffc80a;
}
.item__p{
  font-family: "Montserrat", sans-serif;
  color: var(--gary-color);
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
}
.item__h{
  color: #333;
  font-weight: 500;
  line-height: 1.4;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 20px;
}
img{
  width: 300px;
  display: block;
}
.layout{
  display: grid;
  grid-template-areas: 
  "item1"
  "item2"
  "item3"
  "item4"
  "item5"
  "item6"
  "item7"
  "item8"
  "item9"
  "item10";
}
.item-1{
  grid-area: item1;
}
.item-2{
  grid-area: item2;
}
.item-3{
  grid-area: item3;
}
.item-4{
  grid-area: item4;
}
.item-5{
  grid-area: item5;
}
.item-6{
  grid-area: item6;
}
.item-7{
  grid-area: item7;
}
.item-8{
  grid-area: item8;
}
.item-9{
  grid-area: item9;
}
.item-10{
  grid-area: item10;
}
.item-1{
  background-color: #f7f8f9;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.item-1 h1{
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0 5px;
}
.item-1 a{
  color: var(--blue-color);
  text-decoration-color: var(--blue-color);
  font-size: 14px;
}
.item-2{
  padding: 20px 30px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.item-2 .img{
  width: 70%;
  margin: auto;
  position: relative;
  left: -10px;
}
.item-2 span{
  color: var(--gary-color);
  font-size: 15px;
  font-family: sans-serif;
}
.item-1,.item-3,.item-4,.item-5,.item-7,.item-8,.item-9, .item-10{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.item-3{
  background-color: #f05638;
}
.item-3 h3{
  text-align: center;
  width: 250px;
  color: white;
  font-weight: bold;;
}
.item__a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 2.4px;
}
.item-3 a{
  color: var(--yellow-color);
}
.item-4 img {
  width: 248px;
  position: relative;
  left: -20px;
}
.item-4 a{
  color: var(--blue-color);
}
.item-5{
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
}
.item-5__head{
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}
.item-5__head img{
  position: relative;
  left: -112%;
  width: 200%;
}
.item-5__text{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.item-5__text span{
  color: var(--gary-color);
  font-size: 14px;
  font-family: sans-serif;
  line-height: 2;
  margin-bottom: 30px;
}
.item-5__text a{
  color: var(--blue-color);
}
.item-6{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38d5f4;
}
.item-6 img{
  width: 42.5px;
}
.item-6__contant{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #35cfed;
}
.item-6__contant h3{
  color: white;
  text-align: center;
  width: 90%;;
}
.item-7{
  background-color: #93b6b7;
  padding: 0;
  background-image: url(/image/5bc2f42d5a5ed97dab707e7e_UX.png);
  background-position: 50% 100%;
  background-size: 80%;
  background-repeat:no-repeat ;
  position: relative;
}
.item-7 p{
  font-family: sans-serif;
  background-color: #f05638;
  font-size: 8px;
  letter-spacing: 2px;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: 700;
  position: absolute;
  left: 10%;
  top: 10px;
}
.item-7 h3{
  color: white;
  text-align: center;
  width: 300px;
  margin:50px auto;
}
.item-7 img{
  position: relative;
  left: -6%;
  width: 90%;
  bottom: 0;
}
.item-8{
  background-color: #8f76bc;
  justify-content: center;
  color: white;
  overflow: hidden;
}
.item-8__head{
  background-color: #8166b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 380px;
  height: 380px;
  border-radius: 50%;
}
.item-8__head p{
  font-family: sans-serif;
  background-color:#ffffff14;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 5px 8px 5px 30px;
  border-radius: 20px;
  font-weight: 700;
  background-image: url(/image/5bc2f42d5a5ed9663e707e7d_Shape.png);
  background-position: 10px 50%;
  background-size: 12px;
  background-repeat:no-repeat ;
}
.item-8__head img{
  width: 60%;
  position: relative;
  left: -6px;
}
.item-8__head span{
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 12px;
}
.item-8__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-8__text h3{
  color: white;
  font-weight: 900;
  font-size: 32px;
}
.item-8__text p{
  width: 270px;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 2;
}
.item-8__text a{
  background-color: var(--yellow-color);
  color: black;
  padding: 20px 30px;
  border-radius: 25px;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 12px;
}
.item-9 p{
  font-family: sans-serif;
  background-color: #7bc424;
  font-size: 8px;
  letter-spacing: 2px;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: 700;
}
.item-9 h3{
  width: 300px;
  text-align: center;
}
.item-10{
  padding: 0;
  background-color: #2c2c2c;
}
.item-10 img{
  width: 270px;
  position: relative;
  left: -50px;
  margin-bottom: -25px;
}
.item-10 h3{
  color: white;
  width: 350px;
  text-align: center;
}


@media (min-width:480px) {
  .layout{
    grid-template-columns: 1fr 1fr 1fr 25%; 
    grid-template-areas: 
    "item1 item1 item1 item1"
    "item2 item2 item2 item2"
    "item3 item3 item4 item4"
    "item5 item5 item5 item5"
    "item6 item6 item7 item7"
    "item8 item8 item7 item7"
    "item9 item9 item9 item9"
    "item10 item10 item10 item10"; 
  }
  .item-1{
    grid-area: item1;
  }
  .item-2{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .item-2 img{
    width: 250px;
    align-self: flex-end;
  }
  .item-2__text {
    width: 32%;
}
  .item-3{
    grid-area: item3;
  }
  .item-4{
    grid-area: item4;
  }
  .item-5{
    flex-direction: row;
    padding-bottom: 0;
    justify-content: space-around;
  }
  .item-5__head {
    width: 40%;
    align-self: flex-end;
  }
  .item-5__head img {
    margin-top: 35px;
    width: 200%;
    left: -129%;
}
  .item-5__head h3{
    width: 60%;
  }
  .item-5__text{
    max-width: 40%;
    align-self: baseline;
  }
  .item-6{
    grid-area: item6;
  }
  .item-7{
    grid-area: item8;
  }
  .item-7 h3{
    margin:50px auto auto;
  }
  .item-8{
    grid-area: item7;
  }
  .item-9 h3{
    width: 100%;
  }
  .item-10{
    flex-direction: row;
    justify-content: space-evenly;
  }
  .item-10 h3{
    width: 30%;
  }
  .item-10 img {
    margin-bottom: 0;
  }
}


@media (min-width:992px){
  .layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 25%; 
    grid-template-rows: 1fr 1fr 1fr 0.5fr; 
    grid-template-areas: 
    "item1 item1 item2 item2"
    "item3 item4 item4 item5"
    "item6 item7 item7 item5"
    "item8 item9 item10 item10 ";
  }
  .item-1{
    grid-area: item2;
  }
  .item-2{
    grid-area: item1;
  }
  .item-3{
    grid-area: item3;
  }
  .item-4{
    grid-area: item6;
    
  }
  .item-5{
    grid-area: item4;
  }
  .item-6{
    grid-area: item8;
  }
  .item-7{
    grid-area: item7;
  }
  .item-8{
    grid-area: item5;
  }
  .item-9{
    grid-area: item9;
  }
  .item-10{
    grid-area: item10;
    flex-direction: row;
  }
  .item-1 h1{
    width: 65%;
    font-size: 50px;
    line-height: 1.2;
  }
}



